<div class="ng-container mh5">
    <div *ngIf="!registerMode" style="text-align: center;">
        <h1>Find</h1>
        <p class="lead">You need to Sign In</p>
        <div class="text-center">
            <button (click)="registerToggle()" class="btn btn-primary btn-lg mr-2">Register</button>
            <button class="btn-btn info btn-lg mr-2">Learn more</button>
        </div>
    </div>

    <div *ngIf="registerMode" class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <app-register (cancelRegister)="cancelregisterMode($event)" ></app-register>
            </div>
        </div>
    </div>
</div>
